### Read the given dataset

In [2]:
import pandas as pd 
import dvc.api

In [2]:
# Get URL from DVC
data_url = 'data/places.csv'
repo = 'https://github.com/yonamg/Scalable-DataWarehouse'
version = '807774e'

In [ ]:
# Load train data from dvc using the dvc.api.Dataset class
data = dvc.api.get_url(
    path=data_url,
    repo=repo,
    rev=version
)

In [5]:
data = pd.read_csv('../data/places.csv')

Information about the dataset

In [6]:
data.head()

  track_id; type; traveled_d; avg_speed; lat; lon; speed; lon_acc; lat_acc; time
0  1; Car; 7.45; 44.725335; 37.976091; 23.734299;...
1  2; Car; 9.97; 35.903873; 37.976158; 23.734259;...
2  3; Medium Vehicle; 37.76; 39.976287; 37.976381...
3  4; Car; 53.71; 3.465315; 37.976568; 23.734389;...
4  5; Medium Vehicle; 80.94; 5.317402; 37.976734;...

In [3]:
data = pd.read_csv("../data/places.csv", sep="[,;:]", index_col=False, engine='python')

C:\Users\Machine\AppData\Local\Temp\ipykernel_7192\212926386.py:1: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  data = pd.read_csv("../data/places.csv", sep="[,;:]", index_col=False, engine='python')

In [4]:
data.head()

,track_id,type,traveled_d,avg_speed,lat,lon,speed,lon_acc,lat_acc,time
0,1,Car,7.45,44.725335,37.976091,23.734299,47.9200,0.0000,0.0000,0.0
1,2,Car,9.97,35.903873,37.976158,23.734259,37.4350,-0.0448,-0.2575,0.0
2,3,Medium Vehicle,37.76,39.976287,37.976381,23.734391,38.3701,-0.0229,0.2626,0.0
3,4,Car,53.71,3.465315,37.976568,23.734389,21.4110,0.0287,0.3069,0.0
4,5,Medium Vehicle,80.94,5.317402,37.976734,23.734325,32.8315,0.0502,0.4348,0.0